In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from PropPriceMap.mapper import mapper
import pandas as pd
import numpy as np
# %%time
# gov_data_df = pd.read_csv("raw_data/towncity_master_01.csv")
localities = set(pd.read_csv("raw_data/localities.csv").locality)
towncities = set(pd.read_csv("raw_data/towncities.csv").town_city)

In [6]:
mapper(localities,towncities)

Search by town/city [0] or postcode [1] 1
Please enter full postcode (with spaces) or first outward code (e.g. WD6): sdsr344

'Postcode not found, please try again'

In [8]:
import sqlite3

In [11]:
!pwd

/home/joshk/code/katzen-j/PropPriceMap

In [12]:
df_cols = ['ID', 'price', 'date', 'postcode', 'poan', 'street', 'locality',
       'town_city', 'district', 'county', 'latitude', 'longitude']
conn = sqlite3.connect('raw_data/gov_housing_data_SQL')
c = conn.cursor()

query = """
SELECT *
FROM gov_data_db as gd
WHERE gd.postcode LIKE ?
"""
c.execute(query, ('WD6%',))
datarows = c.fetchall()
datarows = pd.DataFrame(datarows, columns=df_cols)

c.close()
conn.close()

In [13]:
len(datarows)

586

In [14]:
datarows.head()

,ID,price,date,postcode,poan,street,locality,town_city,district,county,latitude,longitude
0,5534,2200000,2021-01-06 00:00,WD6 3DL,1,LANDS END,ELSTREE,BOREHAMWOOD,HERTSMERE,HERTFORDSHIRE,51.645015,-0.302601
1,5539,385000,2021-01-11 00:00,WD6 5QH,11,ST NEOTS CLOSE,None,BOREHAMWOOD,HERTSMERE,HERTFORDSHIRE,51.671550,-0.280307
2,5540,275000,2021-06-25 00:00,WD6 5QH,16,ST NEOTS CLOSE,None,BOREHAMWOOD,HERTSMERE,HERTFORDSHIRE,51.671550,-0.280307
3,5541,297500,2021-06-17 00:00,WD6 5QH,14,ST NEOTS CLOSE,None,BOREHAMWOOD,HERTSMERE,HERTFORDSHIRE,51.671550,-0.280307
4,106241,425000,2021-02-26 00:00,WD6 5JP,26,ODDESEY ROAD,None,BOREHAMWOOD,HERTSMERE,HERTFORDSHIRE,51.667074,-0.268821

In [17]:
isinstance(datarows, pd.DataFrame)

True